@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: InterVariable,'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* COLORS */
    --color-primary: #ffffff;
    --color-secondary: #370C5A;
    --color-tertiary-1: #8F3FCF;
    --color-tertiary-2: #5E5E5E;
    --color-tertiary-3: #CCCDCB;
    --color-tertiary-4: #1F1F1F;
}
